@model OceanTechLevel1.Models.Province
@{
    ViewData["Title"] = "Edit Tỉnh ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form action="/Province/edit/@Model.ProvinceId" method="post">
    <input type="hidden" name="ProvinceId" value="@Model.ProvinceId"></in>
    <div class="row">
        <div class="col-md-6">
            <label for="ProvinceName">Tên Tỉnh </label>
            <input type="text" class="form-control" id="ProvinceName" name="ProvinceName" placeholder="ProvinceName" value="@Model.ProvinceName"></input>
            @if (ViewData.ModelState.ContainsKey("ProvinceName") && ViewData.ModelState["ProvinceName"].Errors.Count > 0)
            {
                <span class="text-danger">@ViewData.ModelState["ProvinceName"].Errors[0].ErrorMessage</span>
            }
        </div>

    </div>
    <button type="submit" class="btn btn-success">Edit</button>
    <a href="/Province/index" class="btn btn-secondary">Cancel</a>
</form>